<div class="modal-header">
    <h3>Add new</h3>
</div>
<form name="form.taskForm" ng-submit="submitForm()" novalidate>
    <div class="modal-body">
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" ng-model="name" required>
            <p ng-show="form.taskForm.name.$invalid && !form.taskForm.name.$pristine" class="help-block">You name is required.</p>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea type="text" name="description" class="form-control" cols="20" rows="3" ng-model="description" ng-minlength="3" ng-maxlength="400" required
            style="resize:none"
            />
            <p ng-show="form.taskForm.description.$error.minlength" class="help-block">Username is too short.</p>
            <p ng-show="form.taskForm.description.$error.maxlength" class="help-block">Username is too long.</p>
        </div>
        <div class="form-group">
            <label>Status</label>
            <select class="form-control" id="sel1" name="status" ng-model="status">
                <option>NOT_STARTED</option>
                <option>COMPLETED</option>
                <option>IN_PROGRES</option>
            </select>
        </div>

        <div class="form-group">
            <label>Priority</label>
                <select class="form-control" id="sel2" name="priority" ng-model="priority">
                  <option>LOW</option>
                  <option>NORMAL</option>
                  <option>HIGH</option>
                </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-disabled="form.taskForm.$invalid">Submit</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>



