{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="UTF-8">

	<title>Todo</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<link rel="stylesheet" href="{% static 'styles/body.css'%}">
	<link rel="stylesheet" href="{% static 'styles/header.css'%}">
	<link rel="stylesheet" href="{% static 'styles/auth/login_form.css'%}">

<base href="/">

 </head>
<body>
	<div ng-app="todo">
		<div class="header">
			<ui-view name="header"></ui-view>
		</div>
		<div class="body">
			<ui-view name="body"></ui-view>
		</div>
	</div>

	<script src="{% static 'bower_components/angular/angular.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
	<script src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
	
	<script src="{% static 'scripts/app.js' %}"></script>
	<script src="{% static 'scripts/controllers/controllers.js' %}"></script>
	<script src="{% static 'scripts/services/services.js' %}"></script>
	<script src="{% static 'scripts/routers/uiRouter.js' %}"></script>
</body>
</html>