<nav class="navbar navbar-inverse" style = "border-radius:0px;" ng-controller="MainCtrl">
	  <div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Todo list</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="">Home</a></li>
			<li><a href="#">Contacts</a></li>
			<li><a href="#">About</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right nav-login">
				<li ui-sref="register"><a><span class="glyphicon glyphicon-user login-shift"></span>Sign up</a></li>
				<li ui-sref="login"><a><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
				<li ui-sref="logout" ng-click="logout()"><a><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
		</ul>
	</div>
</nav