{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<div class = "container form-center" ng-app="todo">
	<form action="" method = 'post' ng-controller="MainCtrl">
		{% csrf_token %}
		<div class = "form-group">
			<label for"">Enter username</label>
			<input class="form-control" type="text" name="username" id="username" ng-model="username">
		</div>
		<div>
			<label for="password">Enter password</label>
			<input class="form-control" type="text" name="password" id="password" ng-model="password">
		</div>
		<button type="button" class="btn btn-primary" ng-click="login()">Login</button>
		<button type="button" class="btn btn-primary" ng-click="logout()" style="margin-top:10px;">Logout</button>
	</form>
</div>
{% endblock %}
{% block javascript %}
	<script src="{% static 'js/app.js' %}"></script>
	<script src="{% static 'js/controllers.js' %}"></script>
	<script src="{% static 'js/services.js' %}"></script>
{% endblock %}