.container {
	width: 85%;
}

.nav-login {
	margin-right: 20px;
}

.nav-login span {
	margin-right:10px;
}

.form-center {
	width:300px;
	margin:0 auto;
}

.form-center input{
	width: 100%;
	margin-bottom: 15px;
}

.form-center label {
	margin-bottom: 5px;
}

.form-center button {
	width: 100%;
}



